<div class='row'>
  <div class='col-md-6'>
    <div id="chart_specialties" style="width: 500px; height: 400px;"></div>
  </div>
  <div class='col-md-6'>
    <div id="chart_spec_distance_average"  style="width: 500px; height: 400px;"></div>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <table class='health_centres_rank table table-sm table-inverse'>
       <caption><center>Ranking de hospitais que realizam mais procedimentos<center></caption>
       <thead>
        <tr>
          <th>#</th>
          <th>Hospital</th>
          <th>Nº de Procedimentos</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

  </div>
  <div class='col-md-6'>
    <div id="chart_3"></div>
  </div>
</div>

<div id="dashboard_legend">
  <div class='dashboard-header'>
  <h4>
      <center>
        <div class='glyphicon glyphicon-chevron-up'></div>
            Legenda
         <div class='glyphicon glyphicon-chevron-up'></div>
      <center></h4>
  </div>
  <ul class="list">
  </ul>
</div>


<script>
  $(document).ready(init_dashboard_chart);
  $(document).ready(update_rank);
</script>

