<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">

<div class="w3-container">
  <div class="w3-card-4" >
    <header class="w3-container w3-light-grey">
      <h1><center>Dados Gerais<center></h1>
    </header>

    <div class="w3-container">
      <div class='col-md-6'>
        <table class='health_centres_rank table table-sm table-inverse'>
           <caption><center>Ranking de hospitais que realizam mais procedimentos<center></caption>
           <thead>
            <tr>
              <th>#</th>
              <th>Hospital</th>
              <th>Nº de Procedimentos</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
     </div>
      <div class='col-md-6'>
        <div id='procedure_by_date' style='width: 600px; height: 450px'></div>
      </div>
    </div>

  </div>
</div>
<div class="w3-container">
  <div class="w3-card-4" >
    <header class="w3-container w3-light-grey">
      <h1><center>Especialidades<center></h1>
    </header>
    <div class="w3-container">
     <div class='row'>
       <div class='col-md-6 col-md-offset-2'>
        <div id="chart_specialties" style="width: 900px; height: 450px;"></div>
       </div>
     </div>
     <div class='row'>
       <div class='col-md-6'>
        <div id="chart_spec_distance_average"  style="width: 600px; height: 400px;"></div>
       </div>
       <div class='col-md-6'>
        <div id="chart_spec_time_average"  style="width: 600px; height: 400px;"></div>
       </div>
     </div>
    </div>
  </div>
</div>

<div class="w3-container">
  <div class="w3-card-4" >
    <header class="w3-container w3-light-grey">
      <h1><center>Distância Média Percorrida por Pacientes<center></h1>
    </header>
    <div class="w3-container">

        <div class='row'>
          <div class='col-md-4'>
            <div id="chart_cirurgia" style="width: 400px; height: 400px;"></div>
          </div>
          <div class='col-md-4'>
            <div id="chart_obstetrecia"  style="width: 400px; height: 400px;"></div>
          </div>
          <div class='col-md-4'>
            <div id="chart_clinica_medica" style="width: 400px; height: 400px;"></div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>
            <div id="chart_pacientes" style="width: 400px; height: 400px;"></div>
          </div>
          <div class='col-md-4'>
            <div id="chart_psiquiatria"  style="width: 400px; height: 400px;"></div>
          </div>
          <div class='col-md-4'>
            <div id="chart_tisiologia" style="width: 400px; height: 400px;"></div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>
            <div id="chart_pediatria"  style="width: 400px; height: 400px;"></div>
          </div>
          <div class='col-md-4'>
            <div id="chart_reabilitacao" style="width: 400px; height: 400px;"></div>
          </div>
          <div class='col-md-4'>
            <div id="chart_psiquiatria_dia" style="width: 400px; height: 400px;"></div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="help-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ajuda</h4>
      </div>
      <div class="modal-body">
          <p>Aqui é possível visualizar métricas relacionadas aos estabelecimentos de saúde da cidade de São Paulo.
             São apresentadas métricas por especialidade envolvendo distância percorrida e tempo gasto pelos
             pacientes na realização de seus procedimentos.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(init_dashboard_chart);
  $(document).ready(update_rank);
  $(document).ready(init_specialties_chart);
</script>

