<div class='row'>
  <div class='col-md-5'>
    <div id="chart_cirurgia" style="width: 500px; height: 400px;"></div>
  </div>
  <div class='col-md-5'>
    <div id="chart_obstetrecia"  style="width: 500px; height: 400px;"></div>
  </div>
</div>

<div class='row'>
  <div class='col-md-5'>
    <div id="chart_clinica_medica" style="width: 500px; height: 400px;"></div>
  </div>
  <div class='col-md-5'>
    <div id="chart_pacientes" style="width: 500px; height: 400px;"></div>
  </div>
</div>
 
<div class='row'>
  <div class='col-md-5'>
    <div id="chart_psiquiatria"  style="width: 500px; height: 400px;"></div>
  </div>
  <div class='col-md-5'>
    <div id="chart_tisiologia" style="width: 500px; height: 400px;"></div>
  </div>
</div>

<div class='row'>
  <div class='col-md-5'>
    <div id="chart_pediatria"  style="width: 500px; height: 400px;"></div>
  </div>
  <div class='col-md-5'>
    <div id="chart_reabilitacao" style="width: 500px; height: 400px;"></div>
  </div>
</div>

<div class='row'>
  <div class='col-md-3'>
    <div id="chart_psiquiatria_dia"  style="width: 500px; height: 400px;"></div>
  </div>
</div>

<script>
  $(document).ready(init_specialties_chart);
</script>

