@import "bootstrap-sprockets"
@import "bootstrap"

#map
    position: absolute
    height: 100%
    width: 100%
    left: 0

.navbar-inverse
    background-color: rgba(0, 0, 0, .7)
    margin: auto
    border-radius: 0
