@import "bootstrap-sprockets"
@import "bootstrap"

#map
    position: absolute
    height: 100%
    width: 100%
    left: 0

.navbar-inverse
    background-color: rgba(0, 0, 0, .7)
    margin: auto
    border-radius: 0

#legend
    font-family: Arial, sans-serif
    background: #fff
    padding: 10px
    margin: 10px
    border: 3px solid #000
    width: 150px
    display: none

#legend div
    float: left

#legend .color
    width: 20px
    height: 10px
    opacity: 0.5
    filter: alpha(opacity=50)

#legend .name
    width: auto
    height: 10px
