@import "bootstrap-sprockets"
@import "bootstrap"

.map-wrapper
    position: absolute
    height: 60%

#map
    position: absolute
    height: 100%
    width: 100%
    left: 0

.navbar-inverse
    background-color: rgba(0, 0, 0, .7)
    margin: auto
    border-radius: 0

#legend
    font-family: Arial, sans-serif
    background: #fff
    padding: 10px
    margin: 10px
    border: 3px solid #000
    width: 150px
    display: none

#legend h3
    margin-top: 0

#legend div
    float: left

#legend .color
    width: 20px
    height: 10px
    opacity: 0.3
    filter: alpha(opacity=50)

#legend .name
    width: auto
    height: 10px

#dashboard_legend
    border: 2px solid black
    position: fixed
    right: 0
    top: 50%
    width: 25em
    margin-top: 21.5em
    background-color: white

#dashboard_legend .glyphicon
    margin-left:  25px
    margin-right:  25px

#dashboard_legend .dashboard-header
    background: lightgray
    border-bottom: 2px solid white
    border-top: 2px solid
    cursor: pointer

.navbar-inverse .navbar-nav > li > a
    color: white

#labelOverlay
    width: 80%
    position: absolute
    top: 43%
    left: 10%
    text-align: center
    cursor: default

#labelOverlay p.n_procedures
    line-height: 0.5
    font-size: 20pt
    color: #8e8e8e
    width: 100%

#labelOverlay p.atendimentos
    line-height: 0.5
    font-size: 12pt
    color: #cdcdcd
    width: 100%

#distance-legend
    width:  80%
    height:  50px
    position: relative
    top:  0%
    right: -15%

#distance-legend .color,
    float: left
    height: 20px
    width: 20px
    border-style: double

#distance-legend .item
    margin-bottom: -7px

#distance-legend .text
    margin-left: 30px

#distance-legend .color.lt-1km
    background-color: blue

#distance-legend .color.lg-1km-lt-5
    background-color: orange

#distance-legend .color.lg-5km-lt-10
    background-color: gray

#distance-legend .color.lg-10km
    background-color: yellow

#metric-board
    width: 100%
    height: 35%
    padding: 20px

#metric-board #text
    font-size: 16pt
    text-align: center

#metric-board #value
    font-size: 42pt
    text-align: center
    font-weight: bold
